.body {
  position: relative;

}

.content {

  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  font-family: 'sofia-pro';
  font-weight: bold;
  margin-top: 15%;

}

  @media screen and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .content {
    margin-top: 50%;
  }
}

.bgimage{
  background-image: url('./bg_1024.png');
  background-size: cover;
}
.owl {
  text-align: center;
}

img {
  height: 90px;
  width: 90px;
  margin-bottom: -10px;
  opacity: 0.9;
}
.name {
  font-size: 35pt;
  font-weight: bold;
  letter-spacing: -2px;
}
.header {
  color: #E7E7E7;
  text-align: center;
}
.hook {
  font-size: 14pt;
  letter-spacing: 1px;
}

.coming-soon {
  color: #eded00;
  text-align: center;
  font: italic;
  opacity: 0.9;
  margin-top: 100px;
  font-size: 10pt;
}
