.body {
  position: relative;

}

.content {

  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  font-family: 'sofia-pro';
  font-weight: bold;
  margin-top: 15%;

}

@media screen and (min-device-width: 320px)
and (max-device-width: 780px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .content {
    top: 15%;
  }
}
/*
  .bgimage{
    background-image: url('./bg_1024.png');
    background-size:cover;
  }
  .owl {
    text-align: center;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .content {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
  }

  .body {
    position: relative;
  }

  .header {
    color: #ffffff;
    font-family: "sofia-pro";
    font-weight: bold;
    text-align: center;
  }

  .coming-soon {
    color: #eded00;
    text-align: center;
  }
}
*/
.bgimage{
  background-image: url('./bg_1024.png');
  background-size: 100% auto;
  overflow: hidden;
}
.owl {
  text-align: center;
}

img {
  height: 90px;
  width: 90px;
  margin-bottom: -15px;
}
.name {
  font-size: 35pt;
  font-weight: bold;
  letter-spacing: -1px;
}
.header {
  color: #E7E7E7;
  text-align: center;
}
.hook {
  font-size: 14pt;
  letter-spacing: 0.5px;
}

.coming-soon {
  color: #eded00;
  text-align: center;
  font: italic;
  opacity: 0.9;
  margin-top: 100px;
  font-size: 10pt;
}
