.bgimage{
  background-image: url('./bg_1024.png');
  background-size:cover;
}
.owl {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

.content {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
}

.body {
  position: relative;
}

.header {
  color: #ffffff;
  font-family: "Sofia-pro";
  text-align: center;
}

.coming-soon {
  color: #eded00;
  text-align: center;
}
