body {
  position: relative;
  background-color: #000000;
}

.content {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'sofia-pro';
  font-weight: bold;
  margin-top: 15%;

}

.inputs {
  display: inline-block !important;
  font-size: 13px;
}

.error {
  border: 1px red solid !important;
}
.form-wrapper {
  display: inline-block;
}

.form-field {
  border-style: none;
  color: black;
  font-weight: normal;
  padding: 5px 8px;
  display: inline !important;
  vertical-align: middle;
  font-size: 13px;
  border-radius: 0px !important;
}
input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: normal;
}
input:-moz-placeholder {font-style: italic; font-weight: normal} /*ff*/
input:-ms-input-placeholder {font-style: italic} /*ie latest */
input[type=text], input[type=email]  {
  font-style: normal;
  font-weight: bold;
}
.error {
  border-color: red;
  border-style: none;
}
.no-focus:focus {
  outline: none !important;
}
.btn-form {
  max-width: 50%;
  color: black;
  background-color: #eded00;
  border-style: none;
  padding: 5px 8px 5px 8px;
  font-style: bold;
  vertical-align: middle;
  font-size: 13px;
  border-radius: 0px !important;
}

@media screen and (min-device-width: 320px)
and (max-device-width: 780px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .content {
    top: 15%;
  }
}
.left-margin {
  margin-left: 13px;
}
@media only screen and (max-width: 736px) {
  .btn-form {
    color: black;
    background-color: #eded00;
    border-style: none;
    padding: 5px 8px 5px 8px;
    font-style: bold;
    margin: 10px auto;
    float: center;
    font-size: 13px;
    display: block;
    float: center;
    border-radius: 0px !important;
  }

  .form-field {
    border-style: none;
    color: black;
    border-radius: 0px !important;
    font-weight: normal;
    padding: 5px 8px;
    vertical-align: middle;
    margin: 10px auto;
    font-size: 13px;
    position: relative;
    display: block;
  }
  .left-margin {
    margin-left: auto;
  }
}
.bgimage{
  background-image: url('./bg_1024.png');
  background-size: 100% auto;
  overflow: hidden;
}
.owl {
  text-align: center;
  z-index: -2;
}

img {
  height: 90px;
  width: 90px;
  margin-bottom: -15px;

}
.name {
  font-size: 35pt;
  font-weight: bold;
  letter-spacing: -1px;
}
.header {
  color: #E7E7E7;
  text-align: center;
}
.hook {
  font-size: 14pt;
  letter-spacing: -0.4px;
}

.coming-soon {
  color: #eded00;
  text-align: center;
  font: italic;
  opacity: 0.9;
  margin-top: 100px;
  font-size: 13px;
}




#owl-img {
  -webkit-animation: jump 3s ease 0s infinite normal ;
  animation: jump 3s ease 0s infinite normal ;
}
@-webkit-keyframes jump {
 0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 10%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 20%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
 }
 25%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 30%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
 }
 40%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
}

@keyframes jump {
 0%{
  transform: translateY(0);
 }
 10%{
  transform: translateY(0);
 }
 20%{
  transform: translateY(-30px);
 }
 25%{
  transform: translateY(0);
 }
 30%{
  transform: translateY(-15px);
 }
 40%{
  transform: translateY(0);
 }
 100%{
  transform: translateY(0);
 }
}
