.body {
  position: relative;

}

.content {
/*  text-align: center;
  position: absolute;
  top: 50%;*/
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    font-family: 'sofia-pro';
    margin-top: 15%;
}

.bgimage{
  background-image: url('./bg_1024.png');
  background-size: cover;
}
.owl {
  text-align: center;
}

img {
  height: 90px;
  width: 90px;
  margin-bottom: -10px;
}
.name {
  font-size: 35pt;
}
.header {
  color: #E7E7E7;
  text-align: center;
}
.hook {
  font-size: 14pt;
}

.coming-soon {
  color: #eded00;
  text-align: center;
  font-style: italic;

  margin-top: 100px;
  font-size: 10pt;
}
