.body {
  position: relative;

}

.content {

  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  font-family: 'sofia-pro';
  font-weight: bold;
  margin-top: 15%;

}

@media screen and (min-device-width: 320px)
and (max-device-width: 780px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .content {
    top: 15%;
  }
}
.bgimage{
  background-image: url('./bg_1024.png');
  background-size: 100% auto;
  overflow: hidden;
}
.owl {
  text-align: center;
  z-index: -2;
}

img {
  height: 90px;
  width: 90px;
  margin-bottom: -15px;

}
.name {
  font-size: 35pt;
  font-weight: bold;
  letter-spacing: -1px;
}
.header {
  color: #E7E7E7;
  text-align: center;
}
.hook {
  font-size: 14pt;
  letter-spacing: 0.5px;
}

.coming-soon {
  color: #eded00;
  text-align: center;
  font: italic;
  opacity: 0.9;
  margin-top: 100px;
  font-size: 10pt;
}




#owl-img {
  -webkit-animation: jump 3s ease 0s infinite normal ;
  animation: jump 3s ease 0s infinite normal ;
}
@-webkit-keyframes jump {
 0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 10%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 20%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
 }
 25%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 30%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
 }
 40%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
}

@keyframes jump {
 0%{
  transform: translateY(0);
 }
 10%{
  transform: translateY(0);
 }
 20%{
  transform: translateY(-30px);
 }
 25%{
  transform: translateY(0);
 }
 30%{
  transform: translateY(-15px);
 }
 40%{
  transform: translateY(0);
 }
 100%{
  transform: translateY(0);
 }
}
